{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Editar datos Soporte </h1> <br>
    <br>

    <button type="button">
        <a href="{% url 'soporte' %}"> Agregar</a>
    </button>

    <div id="idMensaje">
        {% if mensaje}
            {{mensaje}}
        {% endif %}
    </div>

    <table>
        {% if alumnos %}
            <th>Rut</th>
            <th>nombre </th>
    </table>
    
</body>
</html>