<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Agregar datos soporte</h1><br>
    <br>

    <button type="button">
        <a href="{% url 'Agregar' %}"> Agregar </a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    <table>
        {% if soporte %}
            <th> Nombre </th>
            <th> Correo </th>
            <th> Tipo mensaje</th>
            <th> Tipo mensaje</th>
            <th> Comentario</th>
            <th> Eliminar </th>
            <th> Modificar </th>
            {% for x in soporte %}
                <tr>
                    <td> {{ x.Nombre }}
                    <td> {{ x.Correo }}
                    <td> {{ x.Tipo_mensaje}}
                    <td> {{ x.Tipo_mensaje}}
                    <td> <a href="{% url 'soporte_del' pk=x.nombre %}">Eliminar</a>
                    <td> <a href="{% url 'soporte_findEdit' pk=x.nombre %}">Modificar</a>

                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
        
</body>
</html>