<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div style=" text-align: center;">
        <h2>Formulario Crud para soporte </h2> <br>
        <from action="soporte" method="POST" >
            {% csrf_token %}
            
            <pre> Nombre : <input type="text" name="nombre" ></pre>
            <pre> Correo : <input type="text" name="correo" ></pre>

            <pre> Tipo mensaje :  <select name="tipo mensaje" ></pre>
                    {% for tipo_mensaje in tipomensaje %}
                        <option value="{{tipo_mensaje.id_tipo_mensaje}}" >{{tipo_mensaje.tipo_mensaje}}</option>
                    {% endfor %}

            <pre> Tipo mensaje :  <select name="tipo mensaje" ></pre>
                    {% for tipo_mensaje in tipomensaje %}
                        <option value="{{tipo_mensaje.id_tipo_mensaje}}" >{{tipo_mensaje.tipo_mensaje}}</option>
                    {% endfor %}

            <pre> Comentario : <input type="text" name="comentario" ></pre>

            <input type="submit" name="opcion" value="Agregar">

        </from> <br> <br>
        <a href="{% url 'crud' %}"> Volver</a>
        <br>
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% end %}          
        </div>
    </div>
    
</body>
</html>