{% extends "./layouts/base.html" %}

{% load static %}

{% block content %}


<img class="team" id="brand" src="{% static 'imagenes/stotoburgerteam.png' %}" alt="brand sotoburguer">


<main class="container-lg d-flex align-items-center justify-content-center">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card text-center">
        <img src="{% static 'imagenes/soto7.jpeg' %}" class="card-img-top" alt="..." width="150" height="550">
        <div class="card-body">
          <h5 class="card-title">Don Matias Soto</h5>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="{% static 'imagenes/luxo.jpeg' %}" class="card-img-top" alt="..." width="150" height="550">
        <div class="card-body">
          <h5 class="card-title">Luis Olavarría</h5>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="{% static 'imagenes/alex.jpeg' %}" class="card-img-top" alt="..." width="150" height="550">
        <div class="card-body">
          <h5 class="card-title">Alex Barrientos</h5>

        </div>
      </div>
    </div>

  </div>
</main>

<br>
<br>
<br>
<br>

<main class="container-lg d-flex align-items-center justify-content-center">

  <div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col">
      <div class="card text-center">
        <img src="{% static 'imagenes/Local_proximamente.jpg' %}" class="card-img-top" alt="..." width="300"
          height="300">
        <div class="card-body">
          <h5 class="card-title">Proximamente nuevos locales!!</h5>
          <p class="card-text">Como comunidad nos gustaria expandirnos a mas areas del pais para ofrecer nuestros
            productos.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="{% static 'imagenes/Trabaja_con_nosotros.jpg' %}" class="card-img-top" alt="..." width="300"
          height="300">
        <div class="card-body">
          <h5 class="card-title">Trabaja con nosotros!!</h5>
          <p class="card-text">Conoce nuestras areas de trabajo y postula para trabajar con nosotros para expandir
            los diversos platillos.</p>
        </div>
      </div>
    </div>
  </div>
</main>

<br>
<br>

{% endblock %}