<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Don Luis Olavarría, Don Soto, Don Alex Barrientos">
  <title>Soto Burguers</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/estilo.css">

  <link rel="icon" type="image/x-icon" href="../Imagenes/burger.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">


</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light text-light">
    <div class="container-fluid ">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="nav justify-content-center">

          <li class="nav-item">

            <a class="nav-link active text-white" href="menu.html"><i class="fa-solid fa-list"></i> Menú</a>
          </li>
          <li class="nav-item">

            <a class="nav-link active text-white" href="Locales.html"><i class="fa-solid fa-shop"></i> Locales</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="../index.html">
              <img src="../Imagenes/burger.png" alt="logo" width="70" height="46">
            </a>
          </li>
          <li class="nav-item">

            <a class="nav-link active text-white" href="Nosotros.html"><i class="fa-solid fa-user-group"></i>
              Nosotros</a>
          </li>
          <li class="nav-item">

            <a class="nav-link active text-white" href="soporte.html"><i class="fa-solid fa-comments"></i>
              Soporte</a>
          </li>

      </div>
    </div>
  </nav>
  <br>
  <br>

  <br>






  <main class="formulario_a d-flex align-items-center justify-content-center">


    <section>
      <div class="form-group">
        <h1 class="titulo_soporte"> Soporte</h1>
        <form action="" id="formulario_contacto">

          <label for="nombre">Nombre</label>
          <br>
          <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Machuca">


          <br>
          <label for="email">Correo Electronico</label>
          <br>
          <input type="email" name="email" id="email" class="form-control" placeholder="luchito@mail.com">
          <br>

          <label for="tipo_mensaje">Tipo de Mensaje</label> <br>
          <select name="tipo_mensaje" id="tipo_mensaje" class="form-control">
            <option value="">Seleccionar</option>
            <option value="reclamo">Reclamo</option>
            <option value="sugerencia">Sugerencia</option>
            <option value="felicitacion">Felicitacion</option>
          </select>
          <br>

          <label for="ciudad">Ciudad</label> <br>
          <select name="ciudad" id="ciudad" class="form-control">
            <option value="">Seleccionar</option>
            <option value="puertoMontt">Puerto Montt</option>
            <option value="osorno">Osorno</option>
            <option value="puertoVaras">Puerto Varas</option>
            <option value="calbuco">Calbuco</option>
          </select>
          <br>

          <label for="mensaje">Comentario</label>
          <br>
          <textarea name="mensaje" id="mesaje" cols="30" rows="10" class="form-control"
            placeholder="Aqui va el Mensaje..."></textarea>
          <br>

          <button type="submit" id="guardar" class="btn btn-outline-success">Guardar</button>
          <button type="reset" class="btn btn-outline-secondary">Limpiar</button>
          <br>
        </form>
      </div>
    </section>
  </main>
  <footer>


    <section class="container">
      <br>
      <div class="container text-center text-md-start">

        <div class="row mt-3">


          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <div id="alertRojo" class="alert alert-danger" role="alert">
              El correo ingresesado es no es válido
            </div>

            <div id="alertVerde" class="alert alert-success" role="alert">
              Correo ingresado correctamente
            </div>

            <h6 class="text-uppercase fw-bold mb-4">
              ¿Quieres ser el primero en enterarte de nuestras nuevas hamburguesas y promos?
            </h6>
            <p>Suscríbete a nuestro Newsletter</p>

            <form>
              <div class="mb-3">
                <label for="correo" class="form-label">Ingrese su correo: </label>
                <input type="email" class="form-control" id="correo" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Nunca compartiremos tu correo</div>
                <input type="button" class="btn btn-warning" value="Suscribirse"
                  onclick="validarCorreo(document.getElementById('correo').value)">

              </div>
            </form>

            <div id="ventanaModal" class="modal">
              <div class="contenido-modal">
                <span class="cerrar">&times;</span>
                <h2 class="display-5">Soto Burguers</h2>
                <p>se ha suscrito correctamente</p>
              </div>
            </div>

          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              Síguenos!
            </h6>
            <p>
              <a href="https://www.instagram.com/soto__burguers/" target="_blank" class="text-reset">Instagram</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Facebook</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Twitter</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Tik Tok</a>
            </p>
          </div>


          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p>Al. del Libertador Bernardo O'Higgins 108, Santiago, Región Metropolitana </p>
            <p>sotoburguers@gmail.com</p>
            <p> +569 40155266</p>
            <p> +569 26192736 </p>
          </div>

        </div>

      </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Todos los derechos reservados:
      <a class="text-reset fw-bold" href="index.html">www.SotoBurguers.com</a>
    </div>

    <a class="ir-arriba" javascript:void(0) title="Volver arriba">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
      </span>
    </a>

  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="../javascript/form_jquery.js"></script>

  <script src="../javascript/funciones.js"></script>

</body>

</html>