{% extends "../layouts/base.html" %}

{% load static %}

{% block content %}

<br>
<header class="titulo container d-flex justify-content-left">
    <div class="row">
        <div class="col">
            <br><br>
            <h1 class="display-3">Administracion Ventas 💻</h1>
        </div>
    </div>
</header>

<div class="container py-4">
    <div class="row">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr>
                        <td>{{ compra.id }}</td>
                        <td>{{ compra.fecha }}</td>
                        <td>{{ compra.cantidad }}</td>
                        <td>${{ compra.total }}</td>
                        <td><a href="/soporte/eliminarFeedback/{{ compra.id }}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>





<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}