{% extends "./layouts/base.html" %}

{% load static %}


{% block content %}
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for item in carrito %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>${{ item.precio }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Total: ${{ total }}</td>
        </tr>
        <tr>
            <td colspan="2">Cantidad: {{ cantidad }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <form action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Comprar</button>
                </form>
            </td>
        </tr>
    </tfoot>
</table>






{% endblock %}