{% extends "./layouts/base.html" %}

{% load static %}


{% block content %}

<header class="titulo container d-flex justify-content-left">
  <div class="row">
    <div class="col">
      <br><br>
      <h1 class="display-3">Nuestra Carta</h1>
      <p class="lead">Disfruta de nuestro delicioso menú</p>
    </div>
  </div>
  <br>

</header>


<main class="container d-flex align-items-center justify-content-center">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for hamburguesa in hamburguesas %}
    <div class="col">
      <div class="card text-center">
        <img src="{{ hamburguesa.foto.url }}" class="card-img-top" alt="{{ hamburguesa.nombre }}" width="300"
          height="300">
        <div class="card-body">
          <h5 class="card-title">{{ hamburguesa.nombre }}</h5>
          <p>${{hamburguesa.precio}}</p>
          <a href="hamburguesa/{{ hamburguesa.id }}" class="btn btn-warning">Ver más...</a>

          {% if user.is_authenticated %}
          <!--para mostrar nombre de usuario-->

          <a href="agregar_al_carrito/{{ hamburguesa.id }}/" class="btn btn-warning">Agregar al carro</a>

          {% else %}
          <a href="/cuenta/login/" class="btn btn-warning">Agregar al carro</a>

          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}


  </div>

</main>

{% endblock %}