{% extends "./layouts/base.html" %}

{% load static %}


{% block content %}

<header class="titulo container d-flex justify-content-left">
  <div class="row">
    <div class="col">
      <h1 class="display-3">Nuestra Carta</h1>
      <p class="lead">Disfruta de nuestro delicioso menú</p>
    </div>
  </div>
  <br>

</header>


<main class="container d-flex align-items-center justify-content-center">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for hamburguesa in hamburguesas %}
    <div class="col">
      <div class="card text-center">
        <img src="{{ MEDIA_URL }}{{ hamburguesa.foto }}" class="card-img-top" alt="burguer" width="300" height="300">
        <div class="card-body">
          <h5 class="card-title">{{ hamburguesa.nombre }}</h5>
          <a href="hamburguesa/{{ hamburguesa.id }}" class="btn btn-warning">Ver más...</a>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>

</main>

{% endblock %}